#visit-us-header{
    width: 50%;
    font-weight: 500;
    margin-left: 200px;
  }

#visit-us-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
}

#visit-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #734918;
    width: 50%;
}


.spacer{
    width: 100px;
  }
