#about-us-card{
    margin: 100px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#employee-preview{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

.employee-img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  #about-us-header{
    width: 50%;
    font-weight: 500;
    margin-left: 200px;
  }

  #about-us-text{
    width: 50%;
    color: #734918;
  }

  .spacer{
    width: 100px;
  }