*{
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#top-bar:hover, .navbar-option:hover, .shop-icon:hover, #shop-now-button:hover{
  color: #a86c29;
  cursor: pointer;
}

.heavy{
  font-weight: 600;
  font-size: 22px;
}